<.header>
  Team <%= @team.id %>
  <:subtitle>This is a team record from your database.</:subtitle>
</.header>

<.list>
  <:item title="Name"><%= @team.name %></:item>
  <:item title="Slug"><%= @team.slug %></:item>
</.list>
